<div class="wrapper">
    <div class="container_tar">
        <div class="card">
            <a [routerLink]="['/teacher_training']">
                <img src="assets/img/formacion.avif" alt="Jornadas Institucionales" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">Jornadas Institucionales</h3>
                    <br>
                    <h5 class="card-header" style="font-weight: normal">21 al 24 de Septiembre</h5>
                </div>
            </a>
        </div>

        <div class="card">
            <a [routerLink]="['/groups']">
                <img src="assets/img/docentes.avif" alt="Grupos de Trabajo" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">Grupos de Trabajo</h3>
                    <br>
                    <h5 class="card-header" style="font-weight: normal">Sede Quito</h5>
                </div>
            </a>
        </div>

        <div class="card">
            <a [routerLink]="['/form']">
                <img src="assets/img/inscripcionjpg.avif" alt="Inscripciones" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">Inscripciones Talleres</h3>
                    <br>
                    <h5 class="card-header" style="font-weight: normal">Formulario</h5>
                </div>
            </a>
        </div>
    </div>
</div>
